/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3{
	clear: both;
	color: #CCB7AE;
}
h4 {
	clear: both;
	color: #565264;
}
h5,
h6 {
	clear: both;
	color: #D6CFCB;
}

p {
	margin-bottom: 1.5em;
	color: white;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
	color: #A6808C;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Special Elite', cursive;
    color: #ddca7e;
    background: #006466;
	padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Special Elite', cursive;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #006466;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
	padding: 0;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}


img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

li {
	list-style: none;
	color: #706677;
	
}

/* Promo section */

.logo,
.site-title {
	text-align: center;
}

.logo {
	font-size: 8em;
	color: #565264;
}

.site-title {
	margin-top: -1em;
	margin-bottom: 1em;
	color: #706677;
}

/* Splash section */

.splash {
	background: #565264;
	padding-bottom: 1em;
}

.splash-content {
	padding: 1.75em;
	background: #565264;
}

@media screen and (min-width: 600px) {
	.splash-text {
		columns: 1;
		column-gap: 2em;
	}

	.splash-text p {
		padding-top: 0;
	}
	.splash-text ul {
		color: white;
	}
}

/* Buckets section */

.buckets {
	padding: .75em 1em 1em;
	background: #706677;
}

.buckets ul {
	margin: 0;
	padding: 0;
	background: #706677;
	list-style: none;
}

.buckets li {
	margin-bottom: 1em;
	background: #706677;
	list-style: none;
	padding: .5em;
}

.bucket {
	padding: 1.5em;
	background: #565264;
}

/* More section */

.more {
	padding: 1em;
	background: #706677;
}

.more-content {
	padding: .5em;
	color: #6C757D;
}

/* Twins section */

.sidebar {
	background: hsl(0, 0%, 90%);
}

.twin {
	padding: 1em;
	background: #495057;
	color: white;
	margin-bottom: 2em;
}

.twin img {
	max-height:60px;
	max-width: 60px;
}

.twin:last-of-type {
	background: #A6808C;
}

/* Colophon section */
.colophon {
	padding: 2em;
	background: white;
	color: #A6808C;
	text-align: center;
}

.colophon a {
	color: #A6808C;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}

.column {
	float: left;
	padding: 5px;
	margin-bottom: 3em;

}

.aside {
	text-align: center;
}

.sticky {
	background-color: #d6cfcb;
	text-align: center;
	position: sticky;
	top: 0;
	font-size: 1.2em;
}

.sticky a:hover,
.sticky a:focus {
	border-bottom: 1px solid white;
}

.list-inline {
	list-style: none;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0;
	padding: .75em;
	color: #565264;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.list-inline > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}

a:link {
  color: #706677;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #a6808c;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #a6808c;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ccb7ae;
  background-color: transparent;
  text-decoration: underline;
}



/*--------------------------------------------------------------
Responsive:
----------------------------------------------------*/



/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/

@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.buckets ul {
			display: flex;
			justify-content: space-around;
		}

		.buckets li {
			width: 48%;
		}

	}
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
.content-title {
}

/*--------------------------------------------------------------
Hamburger Responsive:
----------------------------------------------------*/

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}